<html>
<head>
	<title></title>
	</head>
	<body bgcolor="blue">
		<form action="bond_number" method="POST">
            <p>Bond Number<input type="text" name="Bond Number"/><p>
			<p><input type="submit" value= "submit"/></p> 
		</form>
		<form action="company" method="POST">
			<p>Company/Individual Name<input type="text" name="Company/Individual Name"/><p>
			<p><input type="submit" value= "submit"/></p>
		</form>
		<form action="political_party" method="POST">
			<p>Political Party Name<input type="text" name="Political Party Name"/><p>
			<p><input type="submit" value= "submit"/></p>
		</form>
		<form action="pp_company" method="POST">
			<p>Political Party Name<input type="text" name="Political Party Name"/><p>
			<p><input type="submit" value= "submit"/></p>
		</form>
	</body>
</html>